body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

div {
  margin: 20px;
}

input, button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}
